[mysqld]
## slow log query time by Trimbak
#long_query_time=1
#log-slow-queries=/var/log/mysql/log-slow-queries.log
#log-queries-not-using-indexes
max_allowed_packet=16M
#slow_query_log=/var/log/mysql/slow-query.log
#long_query_time=1
general_log_file = /var/log/mysql/query.log
#general_log      = 1
#log_queries_not_using_indexes=YES
##
#Set General Log
#log=/var/log/mysql/mysql.log
bind-address=192.168.1.187 
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
