SUBSYSTEM=="cpu", ACTION=="add",  KERNEL=="cpu[0-9]*", PROGRAM="/etc/init.d/kdump condrestart"
SUBSYSTEM=="cpu", ACTION=="remove",  KERNEL=="cpu[0-9]*", PROGRAM="/etc/init.d/kdump condrestart"
SUBSYSTEM=="memory", ACTION=="add", PROGRAM="/etc/init.d/kdump condrestart"
SUBSYSTEM=="memory", ACTION=="remove", PROGRAM="/etc/init.d/kdump condrestart"
