[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=imsettings-start
Name[as]=imsettings-start
Name[bn_IN]=imsettings-start
Name[ca]=imsettings-start
Name[de]=imsettings-Start
Name[es]=imsettings-start
Name[fr]=imsettings-start
Name[gu]=imsettings-start
Name[hi]=imsettings-start
Name[it]=imsettings-start
Name[ja]=imsettings-start
Name[kn]=imsettings-start
Name[ko]=imsettings-start
Name[ml]=imsettings-start
Name[mr]=imsettings-start
Name[or]=imsettings-start
Name[pa]=imsettings-start
Name[pl]=imsettings-start
Name[pt_BR]=imsettings-start
Name[ru]=imsettings-start
Name[ta]=imsettings-start
Name[te]=imsettings-start
Name[zh_CN]=imsettings-start
Name[zh_TW]=imsettings-start
Comment=Input Method starter
Comment[as]=নিবেশ পদ্ধতি আৰম্ভকৰ্তা
Comment[bn_IN]=ইনপুট পদ্ধতি আরম্ভের প্রণালী
Comment[ca]=Iniciador del mètode d'entrada
Comment[de]=Eingabemethoden-Starter
Comment[es]=Iniciador del Método de Entrada
Comment[fr]=Lanceur de méthode de saisie
Comment[gu]=ઈનપુટ પદ્ધતિ શરૂ કરનાર
Comment[hi]=इनपुट विधि आरंभकर्ता
Comment[it]=Starter del Metodo di input
Comment[ja]=入力メソッドスターター
Comment[kn]=ಇನ್‌ಪುಟ್ ವಿಧಾನ ಆರಂಭಗಾರ
Comment[ko]=입력 방식 시작기 
Comment[ml]=ഇന്‍പുട്ട് മെഥേഡ് ആരംഭിക്കുന്നതിനുള്ള സംവിധാനം
Comment[mr]=इंपुट पद्धत स्टार्टर
Comment[or]=ନିବେଶ ପ୍ରଣାଳୀ ଆରମ୍ଭକାରୀ
Comment[pa]=ਇੰਪੁੱਟ ਢੰਗ ਸਟਾਰਟਰ
Comment[pl]=Uruchamianie metody wprowadzania
Comment[pt_BR]=Método de entrada iniciado
Comment[ru]=Модуль запуска метода ввода
Comment[ta]=உள்ளீடு முறை துவக்கி
Comment[te]=ఇన్పుట్ పద్దతి ప్రారంభకి
Comment[zh_CN]=输入法引导器
Comment[zh_TW]=輸入法啟動器
Exec=imsettings-start --cond-start -n -q
Terminal=false
