[Desktop Entry]
Name=Network Manager
Name[ar]=مدير الشبكة
Name[as]=নেটৱৰ্ক পৰিচালক
Name[be]=Кіраўнік сеткі
Name[be@latin]=Sietkavy kiraŭnik
Name[bg]=Аплетът NetworkManager
Name[bn_IN]=নেটওয়ার্ক ম্যানেজার
Name[ca]=Gestor de xarxes
Name[crh]=Şebeke İdarecisi
Name[cs]=Network Manager
Name[da]=Netværkshåndtering
Name[de]=Netzwerkmanager
Name[el]=Εφαρμογή NetworkManager
Name[eo]=Reta mastrumilo
Name[es]=Network Manager
Name[et]=Võrguhaldur
Name[eu]=Sareko kudeatzailea
Name[fi]=Verkon hallinta
Name[fr]=Gestionnaire de réseau
Name[gl]=Xestor de rede
Name[gu]=નેટવર્ક વ્યવસ્થાપક
Name[he]=מנהל־הרשתות
Name[hi]=नेटवर्क मैनेजर
Name[hu]=Hálózatkezelő
Name[id]=Manajer Jaringan
Name[it]=Network Manager
Name[ja]=ネットワークマネージャー
Name[kn]=ಜಾಲಬಂಧ ವ್ಯವಸ್ಥಾಪಕ
Name[ko]=네트워크 관리자
Name[lt]=Tinklo tvarkytuvė
Name[lv]=Network Manager
Name[ml]=നെറ്റ്‌വര്‍ക്ക് മാനേജര്‍
Name[mr]=नेटवर्क व्यवस्थापक
Name[nb]=NetworkManager
Name[nn]=Network Manager
Name[or]=ନେଟୱର୍କ ପରିଚାଳକ
Name[pa]=ਨੈੱਟਵਰਕ ਮੈਨੇਜਰ
Name[pl]=Menedżer sieci
Name[pt]=Gestor de Rede
Name[pt_BR]=Gerenciador de redes
Name[ro]=Administrator rețea
Name[ru]=Управление сетью
Name[sl]=Upravljalnik omrežja
Name[sr]=Управник мреже
Name[sr@latin]=Upravnik mreže
Name[sv]=Nätverkshanterare
Name[ta]=பிணைய மேலாளர்
Name[te]=నెట్వర్కు నిర్వాహిక
Name[tr]=Ağ Yöneticisi
Name[uk]=Network Manager
Name[ur]=نیٹ ورک منیجر
Name[zh_CN]=网络管理器（Network Manager）
Name[zh_HK]=網絡管理員
Name[zh_TW]=網路管理員
Comment=Control your network connections
Comment[ar]=تحكم في اتصالاتك الشبكية
Comment[as]=আপোনাৰ নেটৱৰ্ক সংযোগ নিয়ন্ত্ৰণ কৰক
Comment[be]=Кіраваньне вашымі сеткавымі далучэньнямі
Comment[be@latin]=Kiruj sietkavymi spałučeńniami
Comment[bg]=Управление на мрежовитe връзки
Comment[bn_IN]=নেটওয়ার্ক সংযোগ নিয়ন্ত্রণ করুন
Comment[ca]=Controleu les vostres connexions de xarxa
Comment[crh]=Şebeke bağlantılarıñıznı muraqabe etiñiz
Comment[cs]=Zkontrolovat svá připojení k síti
Comment[da]=Administrér dine netværksforbindelser
Comment[de]=Verwaltung der Netzwerkverbindungen
Comment[el]=Ελέγξτε τις συνδέσεις δικτύου
Comment[eo]=Kontroli viajn retkonektojn
Comment[es]=Controlar sus conexiones de red
Comment[et]=Võrguühenduste haldamine
Comment[eu]=Kontrolatu zure sareko konexioak
Comment[fi]=Hallitse verkkoyhteyksiä
Comment[fr]=Contrôler vos connexions réseau
Comment[gl]=Controle as súas conexións de rede
Comment[gu]=તમારા નેટવર્ક જોડાણોને નિયંત્રિત કરો
Comment[he]=שליטה בחיבורי הרשת שלך
Comment[hi]=अपना संजाल कनेक्सन नियंत्रित करें
Comment[hu]=Hálózati kapcsolatok felügyelete
Comment[id]=Kendalikan sambungan jaringan Anda
Comment[it]=Controlla le connessioni di rete
Comment[ja]=ネットワーク接続を制御
Comment[kn]=ನಿಮ್ಮ ಜಾಲಬಂಧ ಸಂಪರ್ಕಗಳನ್ನು ನಿಯಂತ್ರಿಸಿ
Comment[ko]=네트워크 연결을 제어합니다
Comment[lt]=Jūsų tinklo ryšių valdymas
Comment[lv]=Pārvaldi savus tīkla savienojumus
Comment[ml]=നിങ്ങളുടെ നെറ്റ്‌വര്‍ക്ക് കണക്ഷനുകള്‍ നിയന്ത്രിക്കുക
Comment[mr]=नेटवर्क जोडणी नियंत्रीत करा
Comment[nb]=Kontroller dine nettverksforbindelser
Comment[nn]=Kontroller nettverkstilkoplinga di
Comment[or]=ଆପଣଙ୍କର ନେଟୱର୍କ ସଂଯୋଗଗୁଡ଼ିକୁ ନିୟନ୍ତ୍ରଣ କରନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਨੈੱਟਵਰਕ ਕੁਨੈਕਸ਼ਨ ਕੰਟਰੋਲ ਕਰੋ
Comment[pl]=Zarządzanie połączeniami sieciowymi
Comment[pt]=Controle as suas ligações de rede
Comment[pt_BR]=Controle suas conexões de rede
Comment[ro]=Controlați conexiunile la rețea
Comment[ru]=Управление сетевыми соединениями
Comment[sl]=Nadzirajte svoje omrežne povezave
Comment[sr]=Подешава умрежавање рачунара
Comment[sr@latin]=Podešava umrežavanje računara
Comment[sv]=Kontrollera dina nätverksanslutningar
Comment[ta]=உங்களது பிணையத்தின் இணைப்புகளை கட்டுப்படுத்து
Comment[te]=మీ నెట్వర్కు అనుసంధానములను నియంత్రించండి
Comment[tr]=Ağ bağlantılarınızı denetleyin
Comment[uk]=Керування мережними з'єднаннями
Comment[ur]=اپنے نیٹ ورک اتصال کی ادارت کریں
Comment[zh_CN]=控制您的网络连接
Comment[zh_HK]=控制你的網絡連線
Comment[zh_TW]=控制您的網路連線
Icon=nm-device-wireless
Exec=nm-applet --sm-disable
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=NetworkManager
X-GNOME-Bugzilla-Component=general
X-GNOME-Autostart-enabled=true
