[Desktop Entry]
Type=Application
Name=Seahorse Daemon
Name[ar]=عفريت حصان البحر
Name[as]=Seahorse ডেমন
Name[bg]=Демон на Seahorse
Name[bn]=Seahorse ডেমন
Name[bn_IN]=Seahorse ডেমন
Name[br]=Droukspered Seahorse
Name[ca]=Dimoni del Seahorse
Name[ca@valencia]=Dimoni del Seahorse
Name[cs]=démon Seahorse
Name[da]=Seahorse-dæmon
Name[de]=Seahorse-Dienst
Name[el]=Δαίμονας του seahorse
Name[en_GB]=Seahorse Daemon
Name[es]=Demonio de Seahorse
Name[et]=Seahorse deemon
Name[eu]=Seahorse daemon-a
Name[fi]=Seahorse-palvelinprosessi
Name[fr]=Démon Seahorse
Name[ga]=Deamhan Seahorse
Name[gl]=Demoño Seahorse
Name[gu]=Seahorse ડેઇમન
Name[hi]=सीहोर्स डेमॉन
Name[hu]=Seahorse démon
Name[it]=Demone seahorse
Name[ja]=Seahorse のデーモン
Name[kn]=Seahorse ಡೀಮನ್
Name[ko]=시호스 데몬
Name[lt]=Seahorse tarnyba
Name[ml]=Seahorse ഡെമണ്‍
Name[mr]=Seahorse डिमन
Name[nb]=Seahorse-tjeneste
Name[nl]=Seahorse-daemon
Name[or]=Seahorse ଡେମନ
Name[pa]=ਸੀ-ਹਾਰਸ ਡੈਮਨ
Name[pl]=Usługa Seahorse
Name[pt]=Daemon Seahorse
Name[pt_BR]=Daemon do Seahorse
Name[ru]=Демон Seahorse
Name[sl]=Šifrirni demon (Seahorse)
Name[sr]=Услужни програм Морског коњића
Name[sr@latin]=Uslužni program Morskog konjića
Name[sv]=Seahorse-demon
Name[ta]=சீஹார்ஸ் கிங்கரன்
Name[te]=Seahorse ‍డెమోన్
Name[th]=ดีมอน Seahorse
Name[tr]=Seahorse Servisi
Name[uk]=Служба Seahorse
Name[vi]=Trình nền Seahorse
Name[zh_CN]=Seahorse 守护进程
Name[zh_HK]=Seahorse 伺服程式
Name[zh_TW]=Seahorse 伺服程式
Exec=seahorse-daemon
OnlyShowIn=GNOME;
X-GNOME-Autostart-Phase=Initialization
X-GNOME-AutoRestart=true
X-GNOME-Autostart-Notify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=seahorse
X-GNOME-Bugzilla-Component=Daemon
X-GNOME-Bugzilla-Version=2.28.1

Comment=Manage your passwords and encryption keys
Comment[ar]=أدِر كلمات سرّك ومفاتيح تعميتك
Comment[as]=গুপ্তশব্দ আৰু এনক্ৰিপশন-চাবি পৰিচালনা কৰক
Comment[be@latin]=Kiruj parolami j klučami šyfravańnia
Comment[bg]=Управление на паролите и ключовете за шифриране
Comment[bn]=পাসওয়ার্ড ও এনক্রিপশন-কী পরিচালনা করুন
Comment[bn_IN]=পাসওয়ার্ড ও এনক্রিপশন-কি পরিচালনা করুন
Comment[br]=Ardeiñ ho tremengerioù hag alc'hwezioù enrinegañ
Comment[ca]=Gestioneu les contrasenyes i claus de xifratge
Comment[ca@valencia]=Gestioneu les contrasenyes i claus de xifratge
Comment[cs]=Spravovat svá hesla a šifrovací klíče
Comment[da]=Håndtér dine kodeord og krypteringsnøgler
Comment[de]=Verwalten Sie Ihre Passwörter und Schlüssel
Comment[dz]=ཁྱོད་རའི་ཆོག་ཡིག་དང་གསང་བཟོ་ལྡེ་མིག་ཚུ་ འཛིན་སྐྱོང་འཐབ་
Comment[el]=Διαχείριση των κωδικών και των κλειδιών κρυπτογράφησης
Comment[en_GB]=Manage your passwords and encryption keys
Comment[es]=Administre sus claves y contraseñas de cifrado
Comment[et]=Sinu paroolide ja krüptimisvõtmete haldamine
Comment[eu]=Kudeatu pasahitzak eta enkriptatze-gakoak
Comment[fi]=Hallitse salasanoja ja salausavaimia
Comment[fr]=Gérer vos mots de passe et vos clés de chiffrement
Comment[ga]=Bainistigh d'fhocail faire agus eochracha criptithe
Comment[gl]=Xestione os seus contrasinais e chaves de cifrado
Comment[gu]=તમારા પાસવર્ડો અને એનક્રિપ્શન કીઓની વ્યવસ્થા કરો
Comment[he]=נהל את הסיסמאות ומפתחות ההצפנה שלך
Comment[hi]=अपना कूटशब्द और गोपन कुंजी प्रबंधित करें
Comment[hu]=Jelszavak és titkosítási kulcsok kezelése
Comment[it]=Gestisce le proprie password e chiavi di cifratura
Comment[ja]=パスワードや暗号鍵を管理します
Comment[kn]=ನಿಮ್ಮ ಗುಪ್ತಪದ ಮತ್ತು ಗೂಢಲಿಪೀಕರಣ ಕೀಲಿಯನ್ನು ನಿರ್ವಹಿಸಿ
Comment[ko]=암호 및 암호화 키를 관리합니다
Comment[lt]=Tvarkyti Jūsų slaptažodžius ir šifravimo raktus
Comment[lv]=Vadīt paroles un šifrēšanas atslēgas
Comment[mk]=Менаџирајте ги Вашите лозинки и клучеви за енкриптирање
Comment[ml]=നിങ്ങളുടെ അടയാളവാക്കും എന്‍ക്രിപ്ഷന്‍ കീകളും കൈകാര്യം ചെയ്യുക
Comment[mr]=तुमचे पासवर्ड व ऐंक्रीप्शन किल्ली नियंत्रीत करा
Comment[nb]=Håndter dine passord og krypteringsnøkler
Comment[ne]=तपाईँको पासवर्ड र गुप्तिकरण कुञ्जीहरू प्रबन्ध गर्नुहोस्
Comment[nl]=Uw cryptografische sleutels en wachtwoorden beheren
Comment[nn]=Handter dine passord og krypteringsnøklar
Comment[or]=ଆପଣଙ୍କର ପ୍ରବେଶ ସଂକେତ ଏବଂ ସଂଗୁପ୍ତ କି କୁ ପରିଚାଳନା କରନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਪਾਸਵਰਡ ਅਤੇ ਇੰਕ੍ਰਿਪਸ਼ਨ ਕੁੰਜੀਆਂ ਦੀ ਦੇਖਭਾਲ ਕਰੋ
Comment[pl]=Zarządzanie hasłami i kluczami szyfrującymi
Comment[pt]=Efectue a gestão das suas senhas e chaves de encriptação
Comment[pt_BR]=Gerenciar suas senhas e chaves de criptografia
Comment[ru]=Управление паролями и ключами шифрования
Comment[sl]=Upravljanje z gesli in šifrirnimi ključi
Comment[sr]=Уредите ваше лозинке и кључеве шифровања
Comment[sr@latin]=Uredite vaše lozinke i ključeve šifrovanja
Comment[sv]=Hantera dina lösenord och krypteringsnycklar
Comment[ta]=உங்கள் கடவுச்சொற்கள் மற்றும் மறையாக்க விசைகளை மேலாளுங்கள்
Comment[te]=మీ రహస్యపదాలను మరియు రహస్యపరచే మీటలను నిర్వహించండి
Comment[th]=จัดการรหัสผ่านและกุญแจเข้ารหัสลับของคุณ
Comment[tr]=Parolalarınızı ve şifreleme anahtarlarınızı yönetin
Comment[uk]=Керування паролями та ключами шифрування
Comment[vi]=Quản lý các mật khẩu và khoá mã hoá của bạn
Comment[zh_CN]=管理您的密码和加密密钥
Comment[zh_HK]=管理密碼及密碼匙
Comment[zh_TW]=管理密碼及金鑰
