[Desktop Entry]
Encoding=UTF-8
Exec=xdg-user-dirs-gtk-update
Name=User folders update
Name[ar]=تحديث مجلدات المستخدم
Name[as]=ব্যৱহাৰকৰ্তাৰ ফোল্ডাৰৰ উন্নয়ন
Name[be@latin]=Aktualizacyja katalohaŭ karystalnika
Name[bg]=Превеждане на имената на стандартните папки
Name[bn_IN]=ব্যবহারকারীর ফোল্ডার আপডেট
Name[ca]=Actualització de les carpetes d'usuari
Name[cs]=Aktualizace uživatelských složek
Name[de]=Aktualisierung der Ordner des Benutzers
Name[el]=Ενημέρωση φακέλων χρήστη
Name[en_GB]=User folders update
Name[es]=Actualización de las carpetas del usuario
Name[eu]=Erabiltzailearen karpeten eguneraketa
Name[fi]=Vakiokansioiden päivitys
Name[fr]=Mise à jour des dossiers utilisateur
Name[gu]=વપરાશકર્તાનાં ફોલ્ડરોનો સુધારો
Name[hi]=उपयोक्ता फोल्डर अद्यतन
Name[hu]=Felhasználói mappák frissítése
Name[it]=Aggiorna cartelle utente
Name[ja]=ユーザ・フォルダの更新
Name[ka]=მომხმარებელთა დასტების განახლება
Name[kn]=ಬಳಕೆದಾರ ಕಡತಕೋಶಗಳ ಅಪ್‌ಡೇಟ್‌
Name[ko]=사용자 폴더 업데이트
Name[lt]=Naudotojo aplankų atnaujinimas
Name[ml]=ഉപയോക്താവിന്റെ ഫോള്‍ഡറുകളുടെ പരിഷ്കരണം
Name[mr]=वापरकर्ता पोल्डर्सची सुधारणा
Name[nb]=Oppdatering av brukermapper
Name[or]=ଚାଳକ ଫୋଲଡରଗୁଡ଼ିକର ଅଦ୍ୟତନ
Name[pa]=ਯੂਜ਼ਰ ਫੋਲਡਰ ਅੱਪਡੇਟ
Name[pl]=Aktualizacja folderów użytkownika
Name[ps]=د کارن پوښېو اوسمهالونه
Name[pt]=Actualização de pastas do utilizador
Name[pt_BR]=Atualizar pastas de usuário
Name[ru]=Обновление пользовательских папок
Name[sk]=Aktualizácia užívateľských priečinkov
Name[sq]=Përditëso kartelat e përdoruesit
Name[sv]=Uppdatera användarmappar
Name[ta]=பயனர் கோப்புறைகள் புதுப்பித்தல்
Name[te]=వినియోగదారి ఫోల్డర్ల నవీకరణ
Name[zh_CN]=用户文件夹更新
Name[zh_TW]=使用者目錄更新
Comment=Update common folders names to match current locale
Comment[af]=Dateer algemene gidsname op om te pas by die huidige lokaliteitsinstelling
Comment[ar]=حدّث أسماء المجلدات المشتركة لتطابق المحلية الحالية
Comment[as]=বৰ্ত্তমানৰ লোকেইলৰ লগত মিলাবলৈ সাধাৰণ ফোল্ডাৰৰ নাম উন্নয়ন কৰক
Comment[be@latin]=Aktualizuj nazvy asnoŭnych katalohaŭ, kab adpaviadali dziejnaj lakalnaści
Comment[bg]=Превеждане на имената на стандартните папки към текущо ползвания език
Comment[bn_IN]=বর্তমান লোকেইল অনুযায়ী, সাধারণ ফোল্ডারগুলির নাম পরিবর্তন করা হবে
Comment[ca]=Actualitza els noms de les carpetes comunes per a coincidir amb l'idioma actual
Comment[cs]=Aktualizovat názvy běžných složek podle aktuální lokalizace libc
Comment[de]=Namen der Standardordner auf die momentan verwendete Sprache aktualisieren
Comment[el]=Ενημέρωση ονομάτων των συνηθισμένων φακέλων ώστε να ταιριάζουν στην τρέχουσα γλώσσα
Comment[en_GB]=Update common folders names to match current locale
Comment[es]=Actualizar los nombres comunes de las carpetas para coincidir con la configuración regional actual
Comment[eu]=Eguneratu karpeta arrunten izenak uneko lokalearekin bat etortzeko
Comment[fi]=Päivitä vakiokansioiden nimet nykyisten kieliasetusten perusteella
Comment[fr]=Mettre à jour les noms des dossiers courants pour correspondre à la langue (« locale ») actuelle
Comment[gu]=હાલનાં લોકેલ ને બંધબેસતા સામાન્ય ફોલ્ડર નામોને સુધારો
Comment[hi]=मौजूदा फोल्डर से मेल खाने के लिए सामान्य फोल्डर नाम को अद्यतन करें
Comment[hu]=Általános mappanevek frissítése a jelenlegi területi beállításra
Comment[it]=Aggiorna i nomi di cartella comuni in base alla lingua in uso
Comment[ja]=標準フォルダの名前を現在の言語に合わせて更新します
Comment[ka]=საერთო დასტების ენის მიხედვით განახლება
Comment[kn]=ಪ್ರಸಕ್ತ ಭಾಷೆಗೆ(ಲೊಕ್ಯಾಲ್‌) ಹೊಂದಿಕೊಳ್ಳುವಂತೆ ಸಾಮಾನ್ಯ ಕಡತಕೋಶದ ಹೆಸರುಗಳನ್ನು ಬದಲಾಯಿಸಿ
Comment[ko]=현재 로캘에 맞게 공통 폴더의 이름을 바꿉니다
Comment[lt]=Atnaujinti standartinių aplankų vardus pagal nustatytą lokalę
Comment[ml]=ഇപ്പോഴുള്ള ലൊക്കേലുമായി പൊരുത്തപ്പെടുന്ന സാധാരണ ഫോള്‍ഡര്‍ നാമങ്ങള്‍ നല്‍കുക
Comment[mr]=सध्याच्या लोकेलची जुळवणी करण्यासाठी सामान्य फोल्डरचे नावे सुधारीत करा
Comment[nb]=Oppdater navn på vanlige mapper til aktivt språk
Comment[or]=ପ୍ରଚଳିତ ଭାଷା ସହିତ ମେଳାଇବା ପାଇଁ ସାଧାରଣ ଫୋଲଡର ନାମଗୁଡ଼ିକୁ ଅଦ୍ୟତନ କରନ୍ତୁ
Comment[pa]=ਆਮ ਫੋਲਡਰ ਨਾਂ ਮੌਜੂਦਾ ਲੋਕੇਲ ਨਾਲ ਮਿਲਾਉਣ ਵਾਸਤੇ ਅੱਪਡੇਟ
Comment[pl]=Aktualizowanie nazw folderów do bieżących ustawień językowych
Comment[ps]=د ټولګړو پوښېو نومونه اوسمهالول چې د اوسنۍ ځاييزونې سره ساري شي
Comment[pt]=Actualizar os nomes de pastas comuns para corresponderem ao idioma actual
Comment[pt_BR]=Atualiza o nome de pastas comuns para se adequar à localização atual
Comment[ru]=Обновить стандартные папки для соответствия текущему языку      
Comment[sk]=Aktualizovať bežné priečinky aby sa zhodovali s aktuálnym jazykom
Comment[sq]=Përditëso emrat e kartelave të zakonshme në bazë të gjuhës në përdorim
Comment[sv]=Uppdatera vanliga mappnamn för att passa aktuell lokal
Comment[ta]=நடப்பு மொழியை பொருத்தும் பொது கோப்புறை பெயர்கள் புதுப்பித்தல்
Comment[te]=ఉమ్మడి ఫోల్డర్ నామములను ప్రస్తుత స్థానికానికి నవీకరించుము
Comment[zh_CN]=更新通用文件夹名称使其与当前位置对应
Comment[zh_TW]=將通用目錄的名稱更新為符合目前語言的名稱
Terminal=false
OnlyShowIn=GNOME;
Type=Application
StartupNotify=false
X-KDE-autostart-after=panel
